body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #Result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#Result_emotion_name ,#Result_emotion_name
{
  color: black;
}
.Gesture_NAME
{
  font-size: 40px;
}
.Gesture
{
  font-size:48px;
}
